*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Barlow',sans-serif;
}

/* HERO */

.hero{
height:100vh;
background:url(images/image-header.jpg) center/cover no-repeat;
position:relative;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:40px 60px;
}

.logo{
font-family:'Fraunces';
font-weight:900;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
align-items:center;
}

.nav-links a{
text-decoration:none;
color:white;
}

.contact{
padding:12px 25px;
border-radius:25px;
border:none;
background:white;
font-weight:bold;
}

.hero-content{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

.hero h1{
font-family:'Fraunces';
letter-spacing:8px;
font-size:50px;
}

.arrow{
margin-top:40px;
}


/* GRID SECTION */

.grid{
display:grid;
grid-template-columns:1fr 1fr;
}

.text-block{
display:flex;
flex-direction:column;
justify-content:center;
padding:100px;
}

.text-block h2{
font-family:'Fraunces';
font-size:35px;
margin-bottom:20px;
}

.text-block p{
color:#777;
margin-bottom:20px;
}

.text-block a{
font-weight:bold;
text-decoration:none;
color:black;
}

.image-block{
height:500px;
background-size:cover;
background-position:center;
}

.egg{
background-image:url(images/image-transform.jpg);
}

.cup{
background-image:url(images/image-stand-out.jpg);
}


/* SERVICES */

.services{
display:grid;
grid-template-columns:1fr 1fr;
}

.service{
height:600px;
background-size:cover;
display:flex;
align-items:flex-end;
justify-content:center;
text-align:center;
padding:60px;
}

.graphic{
background-image:url(images/image-graphic-design.jpg);
}

.photo{
background-image:url(images/image-photography.jpg);
}

.service-content h3{
font-family:'Fraunces';
font-size:25px;
margin-bottom:15px;
}

.service-content p{
max-width:350px;
margin:auto;
}


/* TESTIMONIALS */

.testimonials{
text-align:center;
padding:120px 80px;
}

.testimonials h4{
letter-spacing:5px;
color:#aaa;
margin-bottom:70px;
}

.testimonial-container{
display:flex;
gap:50px;
justify-content:center;
}

.testimonial{
max-width:300px;
}

.testimonial img{
width:70px;
border-radius:50%;
margin-bottom:20px;
}

.testimonial p{
color:#666;
margin-bottom:25px;
}

.testimonial h5{
font-family:'Fraunces';
margin-bottom:5px;
}

.testimonial span{
font-size:14px;
color:#aaa;
}


/* GALLERY */

.gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
}

.gallery img{
width:100%;
display:block;
}


/* FOOTER */

footer{
background:#90d4c5;
text-align:center;
padding:60px;
}

footer h2{
font-family:'Fraunces';
margin-bottom:30px;
}

footer ul{
display:flex;
gap:30px;
justify-content:center;
list-style:none;
margin-bottom:30px;
}

.social img{
margin:0 10px;
cursor:pointer;
}